/******************************************************************/
/**********             Ganyu Color Theme              ************/
/******************************************************************/
/* Text Colors */
.text-ganyu-light-blue{
    color: 	#a4b6ef;
}
.text-ganyu-pastel-blue{
    color: 	#d9eeff;
}
.text-ganyu-dark-blue{
    color: 	#596cd5;
}
.text-ganyu-light-red{
    color: 	#e65965;
}
.text-ganyu-light-yellow{
    color: 	#feecc5;
}

/* Background Colors */
.bg-ganyu-light-blue{
    background-color: #596cd5;
}
.bg-ganyu-pastel-blue{
    background-color: #d9eeff;
}
.bg-ganyu-dark-blue{
    background-color: #596cd5;
}
.bg-ganyu-light-red{
    background-color: #e65965;
}
.bg-ganyu-light-yellow{
    background-color: #feecc5;
}


/******************************************************************/
/*******              Wanderer Color Theme               **** *****/
/******************************************************************/
/* Text Colors */
.text-wanderer-teal{
    color: #72b5c5;
}
.text-wanderer-light-purple{
    color: #cdc7f7;
}
.text-wanderer-royal-blue{
    -color: #224c94;
}
.text-wanderer-beige{
    color: #fdd69c;
}

/* Background Colors */
.bg-wanderer-teal{
    background-color: #72b5c5;
}
.bg-wanderer-light-purple{
    background-color: #cdc7f7;
}
.bg-wanderer-royal-blue{
    background-color: #224c94;
}
.bg-wanderer-beige{
    background-color: #fdd69c;
}
